<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <div style="text-align:center">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <div class="error-content" style="text-align:center">
                <h2 class="headline text-yellow" style="font-size:50pt">Error 404</h2>
            </div>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="@Url.Action("Index","Dashboard")">return to dashboard</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
