<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <div style="text-align:center">
            <h3><i class="fa fa-warning text-yellow"></i> WARNING <i class="fa fa-warning text-yellow"></i> </h3>
            <div class="error-content" style="text-align:center">
                <h2 class="headline text-yellow" style="font-size:50pt">Access Denied..!!</h2>
            </div>
            <p>
                You are not authorized to access this page.
                So Please, back to <a href="@Url.Action("Index","Dashboard")">Dashboard..!</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
